<% if logged_in? %>
    <%= link_to 'Logout', logout_path, class: "btn submit-btn", method: :delete %>
<% else %>
    <%= link_to 'Log in', login_path, class:"btn submit-btn" %>
<% end %>

<h1><%= @user.username %></h1>

<%= render 'form' %>