<h1>This is the About page</h1>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'Home page', root_path %>

<% if logged_in? %>
    <%= link_to 'Logout', logout_path, class: "btn submit-btn", method: :delete %>
<% else %>
    <%= link_to 'Log in', login_path, class:"btn submit-btn" %>
<% end %>